/*
Inkblot Chat styling
*/

:root {
    --bounce: linear(0, 0.029 1.4%, 0.126 3.1%, 0.687 9.5%, 0.899 12.5%, 1.039 15.6%, 1.081 17.2%, 1.107 18.9%, 1.116 20.7%, 1.111 22.8%, 1.015 33%, 0.988 39.7%, 1.001 60.1%, 1);
    --border-radius-time: 0.5s;
}

.inkblotPaper {
    position: fixed;
    z-index: 1000;
    width: min(500px, 90vw);
    height: min(500px, 90vh);
    bottom: calc(1rem + 16px);
    right: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    transition: 
        border-radius var(--bounce) var(--border-radius-time),
        width var(--bounce) 1.5s,
        height var(--bounce) 1.5s var(--border-radius-time);
}

.inkblotChat {
    position: fixed;
    z-index: 1000;
    bottom: calc(16px + 1.5rem);
    right: calc(16px + 0.5rem);
    padding: 0;
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    height: 75px;
    width: 75px;

    transition: 
        width var(--bounce) 1s,
        height var(--bounce) 1s;
}

.inkblotIcon {
    width: 75px;
    padding: 0;
    border-radius: 100%;
    aspect-ratio: 1;
    opacity: 0;
    transition:
        opacity 1s 0.2s;
}

.inkblotAvatar {
    border-radius: 100%;
    width: 50px;
    aspect-ratio: 1;
    height: 50px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    margin-bottom: 6px;
}

.choice {
    width: fit-content;
    max-width: 95%;
    padding: 1em;
    margin-bottom: 0.5em;
}

.inkblotTitleBar {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
    opacity: 0;
    transition: opacity 1.5s;
}

.inkblotTitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.inkblotChatButtons {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
}

.inkblotChatButtons img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.inkblotChatButtons img:hover {
    transform:
        scale(1.3)
        rotate(8deg);
}

.inkblotChatButtons img:active {
    transform:
        scale(0.9)
        rotate(-8deg);
}

.inkblotBar {
    border-radius: 0;
    border: 2px solid #000;
    margin: 10px 0;
    opacity: 0;
    transition: opacity 1.5s;
}

::-webkit-scrollbar {
    width: 5px; 
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.inkblotMessagesElement {
    overflow: auto;
    flex-grow: 1;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    opacity: 0;
    transition: 
        opacity var(--bounce) 1.5s 1s;
}
